.agent {
    min-height: 342px;   
    background: url(../img/agent_in_china.png) center (center/cover) no-repeat;
    &__icon { 
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 0 auto;   
        margin-top: 55px;  
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        width: 102px;      
        img {
            display: flex;
            justify-content: center; 
            align-items: center;
            width: 48px;
            height: 51px;
            margin: 0 auto;
           
        }        
    }   
}