.footer {
    min-height: 201px;
    background-color: #25333c;
    padding: 20px 15px 40px 15px;
  
    &__logo {
        img {
            margin-top: 23px;
            width: 68px;
            height: 71px;  
         }
    }
    &__title {
        margin-top: 53px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
    }
    &__contacts {
        margin-top: 43px;
        display: block;
        justify-content: end;
        flex-direction: column;
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
    }
    &__phone {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
        &:hover {            
			color: $main-color;
        }  
    }
    &__liner { 
        display: block;      
        opacity: 0.6;
        background-color: #ffffff;     
        height: 1px;           
        margin-top: 19px;
      
    }
    &__contacts2 {
        display: flex;
        justify-content: end;                 
    }    
    &__link { 
        display: block;     
        margin-top: 30px;        
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        text-decoration: underline;       
        margin-right: 20px;   
        opacity: 0.6;
        color: #ffffff;    
        &:hover {            
			color: $main-color;
        }  
       
    }
    &__text2 {
        display: flex;
        justify-content: end;
        margin-top: 30px;
        opacity: 0.6;
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        margin-right: 10px;
        margin-left: 110px;
    }
    &__text0 {
        margin-top: 30px;
        opacity: 0.6;       
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;}

    &__logo1 {
        display: flex;
        margin-top: 15px;
        width: 30px;
        height: 32px;
        opacity: 0.78;
      
    }
    .button {
        margin-top: 43px;
        width: 140px;
        font-size: 13px;
    }
   
}