.header {
    display: flex;
    
    &-menu {
        display:flex;
        justify-content: space-between;
        list-style-type: none;
        margin: auto;
        padding-top: 48px;
    }
   
    &__link {   
        line-height: 16px;        
        color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		&:hover {            
			color: $main-color;
        } 
    }		   
	&__item {
        border-right: 2px dotted black;
		padding-right: 14px;
        padding-left: 14px;
		&:last-child {
            border-right: none;
        }
    }
    &__contacts {  
        display: flex;    
        padding-top: 16px;       
    }
    &__phone { 
        margin-top: 15px;    
        font-size: 19px; 
        line-height: 14px;        
        font-weight: 700;
        color: #ffffff;
        &:hover {           
			color: $main-color; 
        }
    }  
    &__text {
        padding-right: 10px;
        display: flex;
        flex-direction: column;        
        line-height: 16px;
        padding-top: 22px;
        width: 95%;
        margin: 0;               
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        text-align: end;

    }
    .button {
        margin-top: 30px;
    }
    .hamburger{
        display: none;
        z-index: 1;
        span {
            z-index: 1;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        opacity: 0.75;
    }
	
    
}